<div class="mdl-grid title-row">
  <div class="mdl-cell mdl-cell--12-col text-left">
    <span class="text-primary"><strong>Hotel</strong></span>
  </div>
</div>
<div class="mdl-grid info-row">
  <div class="mdl-cell mdl-cell--12-col text-left">
    <span class="text-info">{{hotel.name}}</span>
  </div>
</div>

<div class="mdl-grid info-row">
  <div class="mdl-cell mdl-cell--1-col-phone mdl-cell--2-col-tablet mdl-cell--3-col-desktop text-muted">
    Checkin
  </div>
  <div class="mdl-cell mdl-cell--1-col-phone mdl-cell--2-col-tablet mdl-cell--3-col-desktop text-muted">
    Nights
  </div>
  <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--4-col-tablet mdl-cell--6-col-desktop text-muted">
    Notes
  </div>
</div>

<div class="mdl-grid info-row">
  <div class="mdl-cell mdl-cell--1-col-phone mdl-cell--2-col-tablet mdl-cell--3-col-desktop">
    {{toLocalTime(hotel.checkinTimeMt)}}
  </div>
  <div class="mdl-cell mdl-cell--1-col-phone mdl-cell--2-col-tablet mdl-cell--3-col-desktop">
    {{hotel.numNights}}
  </div>
  <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--4-col-tablet mdl-cell--6-col-desktop">
    {{hotel.note}}
  </div>
</div>

<div *ngIf="hotel.links && hotel.links != null && hotel.links.length > 0">
  <br>
  <div class="mdl-grid info-row">
    <div class="mdl-cell mdl-cell--12-col text-muted">
      Links
    </div>
  </div>

  <div *ngFor="let link of hotel.links" class="mdl-grid info-row">
    <div class="mdl-cell mdl-cell--12-col text-left">
      <a href="{{link.url}}" target="_blank">
        <span *ngIf="link.name; then linkName else linkUrl"></span>
      </a>
    </div>
    <ng-template #linkName>
        <span>{{link.name}}</span>
    </ng-template>
    <ng-template #linkUrl>
        <span>{{link.url}}</span>
    </ng-template>
  </div>
</div>



<div *ngIf="hotel.address && hotel.address != null">
  <br>
  <div class="mdl-grid info-row">
    <div class="mdl-cell mdl-cell--12-col text-muted">
      Address
    </div>
  </div>
  <div class="mdl-grid info-row">
    <div class="mdl-cell mdl-cell--12-col">
      {{hotel.address}}
    </div>
  </div>
</div>
<!-- <div *ngIf="hotel.location && hotel.location != null">
  <div class="gmap" id="gmap{{hotel.checkinTimeMt.unix()}}"></div>
</div> -->