<div *ngIf="trip">
  {{trip.name}}
</div>

<mdl-textfield type="text" label="Text..." floating-label></mdl-textfield>
<mdl-textfield
        type="text"
        label="Number..."
        pattern="-?[0-9]*(\.[0-9]+)?"
        error-msg="Input is not a number!"
        
        floating-label ></mdl-textfield>

<br>
<mdl-textfield type="date" floating-label></mdl-textfield>
<br>
<mdl-textfield type="datetime-local" floating-label></mdl-textfield>
<br>
<mdl-textfield type="time" floating-label></mdl-textfield>

<app-fab-menu [fabItems]="fabItems" (onItemSelect)="fabItemAction($event)"></app-fab-menu>