<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="action-card mdl-card mdl-shadow--4dp" (click)="navItinerary()">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text mdl-color-text--teal">Manage Itinerary</h2>
      </div>
      <div class="mdl-card__supporting-text text-center">
        <div>
          <i class="material-icons">schedule</i>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="action-card mdl-card mdl-shadow--4dp" (click)="navMap()">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text mdl-color-text--teal">View Map</h2>
      </div>
      <div class="mdl-card__supporting-text text-center">
        <div>
          <i class="material-icons">map</i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="action-card mdl-card mdl-shadow--4dp" (click)="navIdeas()">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text mdl-color-text--teal">Save Ideas</h2>
      </div>
      <div class="mdl-card__supporting-text text-center">
        <div>
          <i class="material-icons">lightbulb_outline</i>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="action-card mdl-card mdl-shadow--4dp" (click)="navPrice()">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text mdl-color-text--teal">Pricing</h2>
      </div>
      <div class="mdl-card__supporting-text text-center">
        <div>
          <i class="material-icons">euro_symbol</i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col" *ngIf="trip.isUpcoming()">
      <app-info-card 
      [title]="'Countdown'" 
      [description]="trip.daysUntilDeparture() + ' days until departure'">
    </app-info-card>
  </div>
  <div class="mdl-cell mdl-cell--4-col" *ngIf="trip.hasFlights()">
      <app-info-card 
      [title]="'Flights'" 
      [description]="trip.flights.length + ' flights totalling ' + trip.totalFlightTime() + ' hours'">
    </app-info-card>
  </div>
  <div class="mdl-cell mdl-cell--4-col" *ngIf="trip.hasHotels()">
      <app-info-card 
      [title]="'Hotels'" 
      [description]="trip.hotels.length + ' hotels totalling '+trip.totalHotelNights()+' nights'">
    </app-info-card>
  </div>
  <div class="mdl-cell mdl-cell--4-col" *ngIf="trip.hasCarRentals()">
      <app-info-card 
      [title]="'Car rental'" 
      [description]="trip.carRentals.length + ' rental(s) totalling ' + trip.totalCarRental() + ' days'">
    </app-info-card>
  </div>
</div> -->